In [20]:
import numpy as np
import pandas as pd
from scipy.optimize import curve_fit

# Definici贸n de la ecuaci贸n
def An(T, A, B, C, D, E, F, G):
    return A + (B / (T + C)) + (D*T) + (E * np.log(T)) + (F * (T**G))

especie1 = '2-PE'
especie2 = '1,2-PP'

# Datos de (presi贸n en kPa y temperatura en K) tabla 3 del articulo
datos = {
    'T1': np.array([362.80, 369.85, 376.59, 380.32, 384.40, 388.37, 391.21, 394.47, 396.92, 399.26, 402.22, 405.08, 408.97, 414.71, 422.51, 432.38, 445.60, 459.29, 469.69, 480.96, 488.05, 491.95]),
    'P1': np.array([0.77, 0.97, 1.61, 1.91, 2.21, 2.67, 3.14, 3.67, 4.21, 4.57, 5.17, 5.77, 6.89, 8.77, 11.77, 16.81, 26.67, 41.44, 56.47, 76.64, 92.10, 101.33]),
    'T2': np.array([358.15, 364.55, 371.85, 375.88, 380.04, 384.10, 390.50, 393.66, 395.19,398.14, 401.10, 404.98, 411.02, 419.01,428.99, 442.19, 456.07, 466.88, 469.69, 478.35, 485.75, 489.80]),
    'P2': np.array([0.92, 1.25, 1.73, 2.13, 2.50, 2.97, 3.43, 3.97, 4.63, 4.90, 5.42, 6.10, 7.27, 8.98, 11.87, 16.67, 26.07, 39.64, 54.60, 75.07, 91.06, 101.33]),
}

df = pd.DataFrame(datos)

# Estimaci贸n inicial de los coeficientes usando los de la tabla 2 del articulo
coeficientes_iniciales = [  58.17, -8985.10, 0, 0,-5.7034,  4.6087e-18, 6.0]
coeficientes_iniciales2 = [ 133.75, -11577.65, 0, 0, -17.5651,  1.3782e-5, 2.0]
# Ajuste de la curva a los datos para la Especie1
parametros_optimos_1, covarianza_1 = curve_fit(An, df['T1'], np.log(df['P1']), p0=coeficientes_iniciales, maxfev=10000)
A_1, B_1, C_1, D_1, E_1, F_1, G_1 = parametros_optimos_1

# Ajuste de la curva a los datos para la Especie2
parametros_optimos_2, covarianza_2 = curve_fit(An, df['T2'], np.log(df['P2']), p0=coeficientes_iniciales2, maxfev=20000)
A_2, B_2, C_2, D_2, E_2, F_2, G_2 = parametros_optimos_2

# Crear DataFrame con los resultados
resultados = pd.DataFrame({
    'Especie': [especie1, especie2],
    'A': [A_1, A_2],
    'B': [B_1, B_2],
    'C': [C_1, C_2],
    'D': [D_1, D_2],
    'E': [E_1, E_2],
    'F': [F_1, F_2],
    'G': [G_1, G_2]
})

display(resultados)
## representar datos experimentales y presion/T falta graficar la funcion tambien en un linspace para un rango de T  entre 340 y 500

,Especie,A,B,C,D,E,F,G
0,2-PE,172.178337,-21889.580987,74.140360,-0.001585,-20.668471,-2.106893e-16,3.306347
1,"1,2-PP",798.878069,-11553.927690,-151.213816,-0.011527,-130.675626,2.391000e-04,1.993215

In [17]:
import numpy as np
import pandas as pd

# Definir funci贸n para calcular la presi贸n de saturaci贸n con la ecuaci贸n de Antoine:
def Psat(A, B, C, D, E, F, G, T):
    return np.exp(A + (B / (T + C)) + (D*T) + (E * np.log(T)) + (F * (T**G)))

# Datos experimentales:
P = 101.325  # KPa

# Par谩metros de Antoine para cada componente en cada mezcla
An1 = np.array([58.17 , -8985.10 , 0, 0, -5.7034 , 4.6087e-18, 6])
An2 = np.array([154.28, -13145.00, 0, 0, -20.1810, 1.0283e-5 , 2])
An3 = np.array([133.44, -13446.00, 0, 0, -16.6590, 6.6391e-6 , 2])
An4 = np.array([133.75, -11577.65, 0, 0, -17.5651, 1.3782e-6 , 2])

# Datos para las cuatro mezclas:
mezclas = [
    {'nombre': '2-PE (1) + 2-EP (2)',
     'T_exp': np.array([477.80, 477.80, 479.27, 479.77, 480.08, 481.66,483.18, 484.93, 485.63, 487.09, 487.85, 488.22, 489.45, 490.27, 490.95, 491.50, 491.65,491.70 ,491.78 , 491.95]),
     'x': np.array([0,  0.0269,0.0650, 0.0865,  0.1004, 0.1688, 0.2407, 0.3151,  0.3573,  0.4488, 0.5054, 0.5317, 0.6381,  0.7156, 0.7969, 0.8958,  0.9303,0.9503, 0.9679, 1.0000]),
     'y': np.array([0, 0.0115,0.0316, 0.0437,  0.0531,  0.0988, 0.1609, 0.2292,0.2754, 0.3676, 0.4285, 0.4593, 0.5784, 0.6718, 0.7692, 0.8842, 0.9228, 0.9452 ,  0.9648, 1]),
     'Antoine_params': [An1, An2]},
   
     {'nombre': '1,2-PP (1) + 2-EP (2)',
     'T_exp': np.array([477.80, 478.24,478.40, 479.18,  479.93, 480.78, 481.87, 482.75,484.29,  485.10, 485.67, 486.56, 487.25, 488.09, 488.71, 489.12, 489.42,489.58 , 489.67 , 489.80]),
      'x': np.array([0,   0.0220,0.0335, 0.0638,  0.0964, 0.1488, 0.2045,0.2581, 0.3539,  0.4152,0.4611, 0.5414, 0.6029,  0.6977,0.7901, 0.8610,  0.9109, 0.9483,  0.9728, 1.0000]),
     'y': np.array([0, 0.0108, 0.0172, 0.0349,  0.0571,   0.0929,0.1380, 0.1857,0.2808, 0.3391,0.3930, 0.4745, 0.5501, 0.6544, 0.7618, 0.8440, 0.9004,  0.9429,  0.9701, 1]),
     'Antoine_params': [An4, An2]},

    
     {'nombre': '2-PE (1) + 1,2-PP (2)',
     'T_exp': np.array([ 489.80, 489.83, 489.87, 489.93, 489.96, 490.02,490.07, 490.16, 490.25, 490.37,490.51, 490.60, 491.05, 491.24, 491.38,  491.56,  491.65, 491.65,491.70 , 491.95 ]),
     'x': np.array([0, 0.0511,  0.1116,0.1931, 0.2635, 0.3227, 0.3747,  0.4619,  0.5247,  0.5982,  0.6680,  0.7098, 0.7926,   0.8455, 0.8850, 0.9124,   0.9427,0.9566,0.9640, 1.0000]),
     'y': np.array([0,  0.0509,  0.1103,0.1905, 0.2588,  0.3166, 0.3681, 0.4534, 0.5154,0.5874, 0.6546, 0.6957,0.7773, 0.8301, 0.8710, 0.9007,  0.9330, 0.9488,  0.9573, 1]),
     'Antoine_params': [An1, An4]},
 #done
    
     {'nombre': '2,1-PP (1) + 2-EP (2)',
     'T_exp': np.array([477.80, 478.10, 478.62, 479.51, 480.53, 482.82,485.41, 487.87, 489.63, 490.95,  492.56, 493.47, 494.31, 495.17,495.91, 496.48,496.87,497.28 ,497.55 ,  497.67]),
     'x': np.array([0,  0.0134, 0.0294,0.0633, 0.1015, 0.1838, 0.2794, 0.3813,  0.4545,0.5182, 0.5961, 0.6456,0.6919,0.7506, 0.8060,0.8525,  0.8941,0.9392, 0.9736, 1.0000]),
     'y': np.array([0, 0.0045, 0.0104, 0.0247,0.0438,  0.0940, 0.1697, 0.2610, 0.3384,  0.4067, 0.4959,0.5547, 0.6132,  0.6868,0.7581,  0.8203,  0.8727,  0.9283 ,  0.9694, 1]),
     'Antoine_params': [An3, An2]},
     
    # Agregar datos y par谩metros para las otras tres mezclas
]

# Almacenar resultados en un DataFrame
dataframes_mezclas = {}

for mezcla in mezclas:
    nombre = mezcla['nombre']
    T_exp = mezcla['T_exp']
    x = mezcla['x']
    y = mezcla['y']
    Antoine_params = mezcla['Antoine_params']
    resultados = []

    for j in range(len(T_exp)):
        fila = {'T_exp': T_exp[j], 'x': x[j], 'y': y[j]}

        # Calcular Psat para cada componente de la mezcla
        Psat_i = [Psat(*Ant_params, T=T_exp[j]) for Ant_params in Antoine_params]
        # Calcular g1 para cada componente de la mezcla
        for k, (xi, yi, Psat_k) in enumerate(zip(x[j:], y[j:], Psat_i), start=1):
            # Manejar divisi贸n por cero
            g1 = np.nan if xi == 0 or Psat_k == 0 else yi * P / xi / Psat_k
            fila[f'g{k}'] = g1

        # Calcular g2 con la ecuaci贸n modificada
        if (1 - x[j]) == 0 or any(Psat_k == 0 for Psat_k in Psat_i):
            g2 = np.nan  # Si hay divisi贸n por cero, asignar NaN
        else:
            g2 = (1 - y[j]) * P / (1 - x[j]) / Psat_k
        fila['g2'] = g2

        resultados.append(fila)

    # Crear DataFrame para cada mezcla
    df_mezcla = pd.DataFrame(resultados)
    dataframes_mezclas[nombre] = df_mezcla

# Acceder a los DataFrames individuales por nombre de mezcla
print("DataFrames por mezcla:")
for nombre, df_mezcla in dataframes_mezclas.items():
    display(nombre, df_mezcla)

DataFrames por mezcla:

'2-PE (1) + 2-EP (2)'

     T_exp       x       y        g1        g2
0   477.80  0.0000  0.0000       NaN  1.002781
1   477.80  0.0269  0.0115  0.627657  1.018651
2   479.27  0.0650  0.0316  0.684963  1.001021
3   479.77  0.0865  0.0437  0.701946  0.999239
4   480.08  0.1004  0.0531  0.728539  0.996982
5   481.66  0.1688  0.0988  0.771728  0.987535
6   483.18  0.2407  0.1609  0.845280  0.969655
7   484.93  0.3151  0.2292  0.876878  0.946267
8   485.63  0.3573  0.2754  0.911699  0.932027
9   487.09  0.4488  0.3676  0.931358  0.915700
10  487.85  0.5054  0.4285  0.944582  0.905586
11  488.22  0.5317  0.4593  0.952899  0.896940
12  489.45  0.6381  0.5784  0.967589  0.878903
13  490.27  0.7156  0.6718  0.980517  0.853913
14  490.95  0.7969  0.7692  0.990143  0.827505
15  491.50  0.8958  0.8842  0.997911  0.798865
16  491.65  0.9303  0.9228  0.998893  0.793395
17  491.70  0.9503  0.9452  1.000288  0.788896
18  491.78  0.9679  0.9648  1.000353  0.783103
19  491.95  1.0000  1.0000  0.999083       NaN

NameError: name 'A' is not defined